:root { --accent: #F8DB57; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
@font-face {
  font-family: 'Google Sans';
  font-weight: 700;
  src: url(fonts/GoogleSans.woff2) format('woff2');
}
@font-face {
  font-family: 'Google Sans Bold';
  font-weight: 700;
  src: url(fonts/GoogleSans-Bold.woff2) format('woff2');
}
@keyframes fadeIn {
  0% {opacity: 0;margin-top: 6px;}
  75% {opacity: 1;}
  100% {margin-top: 0px;}
}
@keyframes opacityFadeIn {
  0% {opacity: 0;}
  20% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes scaleIn {
  0% {transform: scale(0, 1);}
  100% {transform: scale(1, 1);}
}
@keyframes blankFadeIn {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.space {height: 50px;}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
::-webkit-scrollbar {
    width: 0px; 
}

body {
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  font-family: 'Google Sans';
}
#wrapper {
  width: 100vw;
  height: 100vh;
  transition-delay: 0.05s;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
} a!.nav:hover {
  text-decoration: underline;
}

/*TYPESET*/
#text {
    font-size: 14px;
    padding: 16px 18px;
    margin-top: 8px;
    box-sizing: border-box;
    background-color: #fefefe;
    color: #2d2d2d;
    resize: none;
    border-radius: 17px;
    border: 1.7px solid #e0e0e0;
    outline: none;
    overflow: hidden;
    user-select: none;
    animation:fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-duration: 0.6s;
    transition: all .3s ease-out
}
#text.printing {
    animation-name: printing;
    animation-duration: 0.75s;
}
@keyframes printing {
    0%   {color: #2d2d2d;}
    50%  {color: #6AC761;}
    100% {color: #2d2d2d;}
}
#text:focus {background-color: #fcfcfc;}
.input {
  z-index: -1;
  padding-left: 5.1%;
  padding-top: 20px;
  outline: none;
  display: inline-block;
}

h2 {
    font-size: 20px;
    color: #222;
}

sInput {
  position: relative;
  z-index: -1;
  color: #2d2d2d;
  float: right;
  padding-left: 10px;
  bottom: 20px;
  font-size: 13px;
  transition: all cubic-bezier(0.18, 0.89, 0.48, 1.16) 0.3s;
  animation: blankFadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.349s;
}
sInput.lowered {
  z-index: 0;
  bottom: 0px;
}
#keybinds {
    margin-left: 7px;
    text-decoration: underline;
    cursor: pointer;
}
.tingle-modal-box__content > p {
    margin-bottom: 25px;
    color: #2d2d2d;
}

#print {
  background-color: #6e6e6e;
  color: #ffffff;
  border-radius: 13px;
  padding: 8px 12px;
  margin-top: 3px;
  user-select: none;
  border-width: 0;
  width: 63px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  vertical-align: text-bottom;
  cursor: not-allowed;
  outline: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#print:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/*NAVIGATION BAR*/
body > .topbar{position:fixed;}
.topbar{
  user-select: none;
  z-index: 3;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:56px;
  background-color: #f6f6f6;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: box-shadow 0.4s;
}
.topbar.active {
  box-shadow: 0 0 10px rgba(0,0,0,0.4); 
}
#navs {
  padding-left: 22px;
}
li {
  position: relative;
  float: left;
  cursor: pointer;
  list-style-type: none;
}
li a {
  position: relative;
  display: block;
  color: #000;
  padding: 18px 16px;
  text-decoration: none;
}
li > a:hover {
  color: #000;
}
li > a:before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 18.7px;
  left: 0;
  background-color: var(--accent);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.18s ease-in-out 0.025s;
  transition: all 0.18s ease-in-out 0.025s;
}
li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(0.75);
  transform: scaleX(0.75);
}
#content {margin: 0px;}
#tsTitle {
  margin-top: 0px;
  font-size: 50px;
  padding-left: 5%;
  padding-top: 75px;
  line-height: 0px;
  color: #3d3d3d;
  background-color: 000;
}
.tsSubtext {
  position: relative;
  font-size: 14px;
  padding-left: 5.7%;
  padding-top: 0px;
  line-height: 0px;
  color: #4e4e4e;
  vertical-align: middle;
}
#version {
  visibility: hidden;
  position: absolute;
  bottom:0px;
  right:15px;
  float: right;
  
  font-size: 11px;
  color: #4e4e4e;
  vertical-align: middle;
}
#tsDisconnected {
  position: absolute;
  top: 204px;
  margin-top: 0.9px;
  padding-bottom: 6px;
  padding-left: 0px;
  margin-left: 6px;
  cursor: pointer;
} #tsDisconnected::after {
  z-index: -1;
  position: absolute;
  content: '';
  height: 5.5px;
  width: 100%;
  bottom: -1px; 
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: #ED666699;
  animation: scaleIn ease-in 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-duration: 0.6s;
  transform-origin: left;
  transition: all 0.2s;
  animation: 1s ease-out 0s 1 opacityFadeIn;
} #tsDisconnected:hover::after{background: #ED666677;}

#tsConnected {
  visibility: hidden;
  position: absolute;
  top: 204px;
  margin-top: 0.9px;
  padding-bottom: 6px;
  padding-left: 0px;
  margin-left: 6px;
  cursor: pointer;
} #tsConnected::after {
  z-index: -1;
  position: absolute;
  content: '';
  height: 5.5px;
  width: 100%;
  bottom: -1px; 
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: #6AC761AA;
  transition: all 0.2s;
  animation: 1s ease-out 0s 1 opacityFadeIn;
} #tsConnected:hover::after{background: #6AC76188;}


/*UPDATES*/
.udtitle {
  margin-top: 0px;
  font-size: 50px;
  margin-left: 5%;
  @media only screen and (max-width: 600px) {margin-left: 1%;};
  padding-top: 75px;
  line-height: 0px;
  color: #3d3d3d;
  width: 100%;
}

.cdTitle {
  margin-top: 0px;
  font-size: 50px;
  padding-top: 75px;
  line-height: 0px;
  color: #3d3d3d;
}
#udSubtext {
  
  font-size: 12px;
  margin-left: 5%;
  @media only screen and (max-width: 600px) {margin-left: 1%;};
  padding-top: 0px;
  line-height: 0px;
  color: #3d3d3d;

}

#typeset {
  width: 60%;
  padding-left: 4%;
  
}

.updateOuter {
  position:relative;
  top:0;
  left:0;
  opacity: 1;
  border-radius: 0;
  padding-bottom: 0;
  height: auto;
  width: 80%;
  margin: auto;
  padding-bottom: 13px;
  margin-bottom: 35px;
  margin-top: 0px;
  padding-left: 35px;
  padding-top: 10px;
  background-color: #f6f6f6;
  list-style-type: none;
  overflow:auto
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 0px;
  transition: all 0.30s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation:fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-duration: 0.6s;
}
.updateOuter .updateInnerBG {
  display: block;
  position: relative;
  height: 5px;
  width: 100%;
  background-color: var(--accent);
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.updateMid {
  display: flex;
}
.updateInner {
  flex: 0 0 auto;
  color: #535353;
  cursor: default;
  height: 0px;
} .updateInner::after {
  content: '';
  position: relative;
  bottom: 20px;
  display: inline-block;
  height: 5px;
  width: 25%;
  background: var(--accent);
  animation: widthExtend 400ms cubic-bezier(0.19, 1, 0.22, 1);
  animation-fill-mode: forwards;
}
@keyframes widthExtend {
  from {width: 15%}
  to {width: 100%;}
}
.updateP {
  width: 95%;
}
.updateW {
  width: 70%;
  text-align: right;
  padding-top: 12.5px;
  padding-left: 15px;
  padding-right: 25px;
  font-size: 17px;
}
.scaleback {
  transform: scale(1.0, 1.0);
}
tl {
  cursor: pointer;
  text-decoration: underline;
} tl:hover {
  text-decoration: none;
}
/*ABOUT*/
#abTitle {
  margin-top: 0px;
  font-size: 50px;
  padding-left: 0px;
  padding-top: 50px;
  line-height: 0px;
  color: #3d3d3d;
  text-align: center
}
#abSubtext {
  margin: auto;
  font-size: 14px;
  width: 50%;
  padding-left: 0px;
  padding-top: 0px;
  line-height: 28px;
  color: #3d3d3d;
  text-align: center;
  transition: all 0.30s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation:fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-duration: 0.6s;
}
/*FAQ*/
.faqCard {
  margin-left: 5%;
  background: #fefefe;
  overflow: auto;
  padding-bottom: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-right: 0px;
  display: inline-block;
  width: 38%;
  box-shadow: 0 0px 0px rgba(0,0,0,0.12), 0 0px 0px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  animation:fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-duration: 0.6s;
}
.faqCard:hover .faqCard::before {
  left: 19%;
}
#faqwrap {
  padding-left: 4%;
}
.faqTitle {
  font-size: 24px;
  transform: scale(1);
  margin-left: 5%;
  padding-left: 11px;
  transform-origin: top left;
  color: #6e6e6e;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.faqTitle::before {
  content: "";
  position: absolute;
  right: 100%;
  border-left: 5px solid var(--accent);
  height: 28px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.faqCard:hover {box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
.faqCard:hover .faqTitle {
  color: #5a5a5a;
  transform: scale(0.95);
}
.faqCard:hover .faqText {
  transform: translateY(-5px);
}
.faqText {
  margin-left: 5%;
  margin-right: 10px;
  color: #7e7e7e;
  font-size: 13px;
  transform: translateY(0px);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#feedback {
  height: 30px;
  width: 50%;
  font-family: 'Google Sans';
  font-size: 12px;
  letter-spacing: 0.8px;
  padding-left: 10px;
  margin-top: 3px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1.8px solid #bbb;
  border-radius: 7px;
  outline:none;
  transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
}
#feedback:focus {
  border: 1.8px solid #ccc;
  background-color: #fdfdfd;
  border-radius: 8px;
}
#feedbacktext {
  font-size: 10.5px;
  color: #5a5a5a;
  letter-spacing: 0.7px;
  font-family: 'Google Sans Bold'
}
#feedbackContainer {
  padding: 50px;
  padding-left: 6%;
  padding-top: 5px;
  border-radius: 10px;
  line-height: 30px;
}

/*CODE*/
#codeBody > * {
  display: table;
  padding-bottom: 20px;
  color: #3d3d3d;
}
#codeBody > :not(code) {width: 70%;}
codeP {
  margin-left: 12%;
  color: #2d2d2d;
}
codeH1 {
  margin-left: 8%;
  font-size: 27px;
}
codeH2 {
  margin-left: 10%;
  font-size: 22px;
}
code {
    white-space: pre-wrap;
    margin-left: 12.5%;
    padding-left: 10px;
    padding-top: 9px;
    border-left: #ccc solid 5.27px;
    background-color: #fefefe;
    border-radius: 5px;
    width: 30%;
    transition: all 0.3s; 
} 
code:hover {
  background-color: #fafafa;
  border-left: #cbcbcb solid 5.27px;
}

