@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  /*display: inline-block;*/
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


body {
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
  .space { margin-top: 70px; }
#text {
    font-size: 14px;
    padding: 16px 18px;
    margin-top: 8px;
    box-sizing: border-box;
    background-color: #fefefe;
    color: #2d2d2d;
    resize: none;
    border-radius: 17px;
    border: 1.7px solid #e0e0e0;
    font-family: Courier;
    outline: none;
    overflow: hidden;
    user-select: none;
    transition: all .3s ease-out
}
#text.printing {
    animation-name: printing;
    animation-duration: 0.75s;
}
@keyframes printing {
    0%   {color: #2d2d2d;}
    50%  {color: #6AC761;}
    100% {color: #2d2d2d;}
}
#text:focus {
  /* border: 1.7px solid #BCCFBA; */
  background-color: #fcfcfc;
}

sInput {
  position: relative;
  color: #2d2d2d;
  float: right;
  padding-left: 8px;
  font-family: Courier;
  font-size: 13px;
}

#print {
  background-color: #6e6e6e;
  color: #ffffff;
  border-radius: 13px;
  padding: 8px 12px;
  margin-top: 3px;
  user-select: none;
  border-width: 0;
  font-family: Courier;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  vertical-align: text-bottom;
  cursor: not-allowed;
  outline: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#print:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.input {
  padding-left: 30px;
  padding-top: 20px;
  outline: none;
  display: inline-block;
}
body > .topbar{position:fixed;}
.topbar{
  user-select: none;
  z-index: 3;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:56px;
  background-color: #f6f6f6;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: all 0.15s linear;
}
.topbar.active {
  box-shadow: 0 0 10px rgba(0,0,0,0.4); 
}

.nav {
    padding-left: 22px;
}
li {
  position: relative;
  float: left;
  cursor: pointer;
}
li a {
  position: relative;
  display: block;
  color: #000;
  font-family: Courier;
  padding: 18px 16px;
  text-decoration: none;
  
  
}
li > a:hover {
  color: #000;
}
li > a:before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 18.7px;
  left: 0;
  background-color: #fffb07;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.18s ease-in-out 0.025s;
  transition: all 0.18s ease-in-out 0.025s;
}
li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(0.75);
  transform: scaleX(0.75);
}


dcs {
  position: relative;
  padding-bottom: 0px;
  cursor: pointer;
  width: 10px;
  
}
dcs a {
  position: relative;
  display: block;
  color: #000;
  font-family: Courier;
  padding: 18px 30px;
  text-decoration: none;
  width: 100px;
}
dcs > a:hover {
  color: #000;
}
dcs > a:before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 75%;
  height: 24px;
  bottom: 16px;
  left: 0;
  background-color: #fffb07;
  visibility: hidden;
  transform: translateX(-130px);
  transform-origin: 20% 0%;
  transition: all 620ms cubic-bezier(0.19, 1, 0.22, 1);
}
dcs > a:hover:before {
  visibility: visible;
  transform-origin: 20% 0%;
  transform: translateX(15px);

}

#content {margin: 0px;}
#tsTitle {
  font-family: Courier;
  font-size: 50px;
  padding-left: 35px;
  padding-top: 50px;
  line-height: 0px;
  color: #3d3d3d;
  background-color: 000;
}
.tsSubtext {
  position: relative;
  font-family: Courier;
  font-size: 14px;
  padding-left: 45px;
  padding-top: 0px;
  line-height: 0px;
  color: #4e4e4e;
  vertical-align: middle;
}
#version {
  visibility: hidden;
  position: absolute;
  bottom:0px;
  right:15px;
  float: right;
  font-family: Courier;
  font-size: 11px;
  color: #4e4e4e;
  vertical-align: middle;
}
#tsDisconnected {
  position: absolute;
  top: 178px;
  margin-top: 0.9px;
  padding-bottom: 6px;
  padding-left: 0px;
  cursor: pointer;
  height: 0px;
  width:100px;
  background: #ED6666AA;
  transition: 0.2s;
}

#tsDisconnected:hover {
  background: #ED666688;
  transition: 0.2s;
}

#tsConnected {
  display: none;
  position: absolute;
  top: 178px;
  padding-bottom: 6px;
  padding-left: 0px;
  cursor: pointer;
  height: 0px;
  width:75px;
  background: #6AC761AA;
  transition: 0.2s;
}
#tsConnected:hover {
  background: #6AC76188;
  transition: 0.2s;
}
#udTitle {
  font-family: Courier;
  font-size: 50px;
  padding-left: 85px;
  padding-top: 75px;
  line-height: 0px;
  color: #3d3d3d;
}
#udSubtext {
  font-family: Courier;
  font-size: 12px;
  padding-left: 85px;
  padding-top: 0px;
  line-height: 0px;
  color: #3d3d3d;

}

#typeset {
  padding-left: 3%;
}

#abTitle {
  font-family: Courier;
  font-size: 50px;
  padding-left: 0px;
  padding-top: 50px;
  line-height: 0px;
  color: #000;
  text-align: center
}
#abSubtext {
  margin: auto;
  font-family: Courier;
  font-size: 14px;
  width: 50%;
  padding-left: 0px;
  padding-top: 0px;
  line-height: 28px;
  color: #3d3d3d;
  text-align: center;
}

.updateOuter {
  font-family: Courier;
  position:relative;
  top:0;
  left:0;
  opacity: 1;
  border-radius: 0;
  padding-bottom: 0;
  height: auto;
  width: 80%;
  margin: auto;
  padding-bottom: 13px;
  margin-bottom: 35px;
  margin-top: 0px;
  padding-left: 35px;
  padding-top: 10px;
  background-color: #f6f6f6;
  list-style-type: none;
  overflow:auto
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 0px;
  transition: all 0.30s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.updateouter.fadeIn {
  opacity: 1;
}



.updateOuter .updateInnerBG {
  display: block;
  position: relative;
  height: 5px;
  width: 100%;
  background-color: #fffb07;
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  
}
/*.updateOuter:hover .updateInnerBG {
  width: 100%;
}*/

.updateMid {
  display: flex;
}
.updateInner {
  flex: 0 0 auto;
  color: #535353;
  cursor: default;
}

.updateP {
  width: 95%;
}
.updateW {
  width: 70%;
  text-align: right;
  padding-top: 12.5px;
  padding-left: 15px;
  padding-right: 25px;
  font-size: 17px;

}
#docList{
  position:fixed;
  top:100px;
  left:0;
  width:100%;
  height:56px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#docSidebar {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: -1 ;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color:#e5e5e5;
}
#docSmallSidebar {
    height: 100%;
    width: 20px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color:#e5e5e5;
}


#stats {
  font-family: Courier;
  position: absolute;
  left: 800px;
  color:#3d3d3d;
}
stat {
  padding-left: 24px;
  font-size: 14px;
  line-height: 24.5px;
  display:inline-block;
}
statTitle {
  display: block;
  font-size: 30px;
}
info {
  font-size: 14px;
  line-height: 24.5px;
  display: inline;
}


fi {
  position: absolute;
  bottom: 7px;
  opacity: 0.7;
  padding-left: 10px;
  display: inline-block;
}
.attach {
  color: #2d2d2d;
  cursor: pointer;
  display: block;
  position: relative;
  width: 128px;
  /*opacity: 1;*/
  font-size: 14.5px;
  padding: 8.5px;
  padding-right: 0px;
  border-radius: 9px;
  background-color: #eee;
  border: 1.7px solid #ddd;
  transition: all 0.2s;
}
.attach:hover {
  opacity: 0.95;
}
.attach t {
  display: table;
  padding-bottom: 0px; 
}


.imagePopup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    opacity: 1;
    transition: all 0.5s;
}

.imagePopup img{
  margin: auto;
  display: block;
  /*width: 80%;*/
  background-color: #eee;
  border-radius: 3px;
  margin-top: 500px;
  max-width: 700px;
  cursor: default;
  transition: all 1s;
}
.imagePopup img.open {
  margin-top: 0px;
}

.modalSubtext {
  /*position: relative;*/
  margin: auto;
  display: block;
  font-family: Courier;
  font-size: 14px;
  line-height: 0px;
  color: #4e4e4e;
  vertical-align: middle;
}
